body {
	background-color:#FFF;
	padding: 20px;
}
#page {
	margin: 0 auto;
  height: 200px;
  width: 60%;
  padding: 20px;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}
#name {
	letter-spacing: 2px;
	font-family: "Lato", sans-serif;
	font-size: 90px;
	color:#4E5659; 
}
#portfolio_name {
	padding-left: 20px;
	letter-spacing: 2px;
	font-family: "Lato", sans-serif;
	font-size: 60px;
	color:#4E5659; 
}
#life {
  letter-spacing: 0.5px;
	font-weight: 300px;
	font-size: 23px;
	color:#6ABEC1;
  text-align: center;
}
ul, li {
	list-style-type: none;
	list-style: none;
}
a {
	text-decoration: none;
	color:#6ABEC1;
}
a:active {
	color:#F27165;
}
a:hover {
	color:#F27165;
}

#page{
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
